/*//META{"name":"Zero Two - DitF beta","description":"DARLING in the FRANXX theme based on Purple Wizard's ELYSIA theme","author":"Bun/Hypzr","version":"0.0.2"}//*/

@import url(https://raw.githubusercontent.com/Hypzr/DARLINGintheFRANXX/master/DitF/DARLINGintheFRANXX.theme.css);

:root {
        --Title: "ダリフラ";
        --logo: url(https://cdn.discordapp.com/attachments/656589760869040148/676945011354501151/XX.png);
        --background: url(https://cdn.discordapp.com/attachments/656589760869040148/674821605859262485/4500783-pink-hair-blue-eyes-darling-in-the-franxx-zero-two-darling-in-the-franxx.png); /*   You can also use : url(LINKtoIMAGE)  */
        --Art1: url(https://cdn.discordapp.com/attachments/587228601611583488/677266525631283230/output-onlinepngtools23e32e23.png);
        --Art2: url(https://cdn.discordapp.com/attachments/677375453874356224/677375858058723328/DITFWELC.png);
        --CustomStatusText: "Edit Custom Status";
        --ViewProfileText: "Show Profile";
        --font: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
        --MainColor: rgba(255,255,255,1);
		--bg1: rgb(238,208,208);
		--bg2: rgb(238,208,208);
		--bg3: rgb(238,208,208);
		--bg4: rgb(238,208,208);
        --bg5: rgb(206,47,47);
        --bg6: rgb(15,15,25);
        --bg7: rgb(0,159,248);
/*  STATUSES  */
        --Online: rgb(0, 255, 136);
        --Idle: rgb(255, 207, 0);
        --Unavailable: rgb(206, 47, 47);
        --Offline: rgba(116,127,140,1);
/*  PROFILE HEADERS (you can also use "url(LINKtoIMAGE)" for the profile headers)  */
        --Playing: rgba(238,208,208,1); 
        --Xbox: rgb(5, 150, 5);
        --Spotify: rgb(19, 218, 88);
        --Streaming: rgba(93,0,255,1);
    
/*  MENUS COLORS  */
        --darkgrey: rgba(8,8,8,0.3);
        --darkgrey5: rgba(13,13,13,0.30);
        --popoutgrey: rgba(5, 5, 5, 0.75);
   }
/*END OF CONFIG*/
